{% extends 'base/base.html' %}

{% block content %}

    <div class="container text-center">
        <h1><br>Вкусы мороженого<br><br></h1>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for icecream in ice_creams_list %}
            <div class="col">
                <div class="card border-primary border-opacity-50 h-100 px-2 pt-1">
                  <img src="{{icecream.image.url}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ icecream.name }}</h5>
                    <p class="card-text">{{ icecream.description }}</p>
                    <!--  <a href="#" class="btn btn-warning">Купить {{ icecream.price }} руб.</a>  -->
                  </div>
                </div>
            </div>
            {% empty %}
            <p>Нет мороженого(.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}