{% extends 'base/base.html' %}

{% block content %}

                        <!-- фон кафе -->
        <div class="container text-center ">
                <div class="bg"></div>
                <div class="color-index">
                <h4><br> Откройте дверь в удивительный мир вкуса и удовольствия в "Liz'zard Cafe", где каждое лакомство — это произведение искусства! Приглашаем вас отведать наши непревзойденные джелато, созданные из натуральных ингредиентов и с любовью к каждой детали.</h4>

                <p><br><br> 🍨 Нежное мороженое — От классического ванильного до экзотического манго, каждый вкус — это путешествие в Италию.</p>

                <p> 🍋 Освежающие сорбеты — Идеальный выбор для жаркого дня, наши сорбеты бодрят и радуют своим фруктовым вкусом. </p>

                <p> 🌿 Натуральные ингредиенты — Мы используем только свежие и натуральные продукты для создания наших десертов.</p>

                <p> 👨‍🍳 Мастерство шеф-повара — Наш шеф-повар из Италии вложил всю свою страсть и опыт в каждый кубок джелато. </p>

                 <h4><br> Приходите в "Liz'zard Cafe" и позвольте себе момент истинного наслаждения!<br><br></h4>
                </div>
        </div>



{% endblock %}