{% extends 'base/base.html' %}

{% block content %}

                        <!-- фон кафе -->
        <div class="container text-center">
                <div class="bg"></div>
        </div>

        <h1>Заглавная страница кафе</h1>
        <a href="{% url 'icecream_bar:ice_creams' %}">Мороженое</a><br/>
        <a href="{% url 'icecream_bar:containers' %}">Стаканчики</a><br/>
        <a href="{% url 'icecream_bar:toppings' %}">Топпинги</a><br/>
        <a href="/">Сделать заказ</a><br/>
        <a href="/">История заказов</a><br/>
        {% if user.is_authenticated %}
            <li class="nav-link"> {{user.username}} |
                <a href="{% url 'icecream_bar:profile' %}">Профиль</a> |
                <a href="{% url 'logout' %}">Выйти</a></li>
          {% else %}
            <li class="nav-link"><a href="{% url 'login' %}">Войти</a></li>
        {% endif %}

{% endblock %}