{% extends 'base/base.html' %}

{% block content %}
    <h1>Заказы</h1>
    <ul>
        {% for order in orders_list %}
            <li>Номер заказа: {{ order.order_id }}, <br/>
                Мороженое: {{ order.ice_cream }}, <br/>
                Стаканчик: {{ order.container }}, <br/>
                Топпинг: {{ order.topping }}, <br/>
                Дата и время заказа: {{ order.created_at }} </li><br/>
        {% empty %}
            <p>Нет заказов.</p>
        {% endfor %}
    </ul>
{% endblock %}