{% extends 'base/base.html' %}

{% block content %}
{% for group in request.user.groups.all %}
    {% if group.name == 'clients' %}
        <h1>История заказов</h1>
        <ul>
            {% for order in orders_list %}
                <li>Номер заказа: {{ order.id }}, <br>
                    Добавка: {{ order.topping }}, <br>
                    Вкус: {{ order.flavor3 }}, <br>
                    Вкус: {{ order.flavor2 }}, <br>
                    Вкус: {{ order.flavor1 }}, <br>
                    Основа: {{ order.container }}, <br>
                    Стоимость: {{ order.total_price }} руб., <br>
                    Дата и время заказа: {{ order.ordered_at }} <br>
                    Пользователь: {{ order.user.first_name }} {{ order.user.last_name }} <br></li>
            {% empty %}
                    <p>Нет заказов.</p>
            {% endfor %}
            </ul>
    {% endif %}
{% endfor %}
{% endblock %}