{% extends 'base/base.html' %}

{% block content %}

    <div class="container text-center">
        <h1>
            <br>
            Добавки к мороженому
            <br>
            <br>
        </h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4">
            {% for topping in toppings_list %}
                <div class="col">
                    <div class="card border-primary border-opacity-50 h-100 ">
                        <img src="{{ topping.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ topping.name }}</h5>
                            <p class="card-text">{{ topping.description }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>Пусто.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}