{% extends 'base/base.html' %}

{% block content %}

    <div class="container text-center">
        <h1>Топпинги</h1>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for topping in toppings_list %}
            <div class="col">
                <div class="card border-warning h-100 ">
                  <img src="{{topping.image.url}}" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">{{ topping.name }}</h5>
                    <p class="card-text">{{ topping.description }}</p>
                    <!--  <a href="#" class="btn btn-warning">Купить {{ topping.price }} руб.</a>  -->
                  </div>
                </div>
            </div>
            {% empty %}
            <p>Нет топпингов.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}