.contact-info {
    font-size: 20px;
    margin: 20px;
}

.feedback_call-number {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.feedback_call-text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    display: block;
}

.logo {
    background-size: 100%;
    width: 85px;
    height: 80px;
}

.navbar-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg {
    background-image: url(image/background_pink.png);
    height: 600px;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 0%;
}

.map {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 45%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.full-height {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.color-navbar {
    background-color: 	#ffe0bd;
}

.color-index {
    background-color: 	#d6f5ff;
}

.accordion{
    --bs-accordion-btn-bg: #fad1c8;
}