* + * {
  font-size: 18px;
}

.contact-info {
    font-size: 20px;
    margin: 20px;
}

.feedback_call-number {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.feedback_call-text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    display: block;
}

.logo {
    background-size: 100%;
    width: 85px;
    height: 80px;
}

.navbar-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg {
    background-image: url(image/background_pink.png);
    height: 600px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.text {
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 0%;
}

.map {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 45%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.h-100 {
    height: 100%;
}

.color-navbar {
    background-color: #ffe0bd;
}

.color-index {
    background-color: #d6f5ff;
}

.accordion {
    --bs-accordion-btn-bg: #fad1c8;
}

.color-order {
    background-color: #a2c8f2;
}
.one {
    background: #FFF4ED;
    padding: 50px 20px;
    text-align: center;
}

.one h6 {
    font-style: italic;
    position: relative;
    color: #3CA1D9;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0;
    line-height: 1;
}

.one h6:before, .one h6:after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
}

.one h6:before {
    left: 0;
}

.one h6:after {
    right: 0;
}

@media (max-width: 768px) {
    .one h6 {
        font-size: 2em;
        padding: 10px 30px;
    }
}

@media (max-width: 420px) {
    .one h6 {
        font-size: 1.5em;
        padding: 10px 20px;
    }
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
